In [1]:
# for 
# while


# for loop uses range function-----> 

#syntax ----> for variable in rangefunction(range):
#                   print(variable)


# for loop

for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [2]:
#wap to print the number from 0-50.
# Wap to print the number from 10-30.

for i in range(51):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50

In [4]:
for i in range(10,31):
    print(i)

10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30

In [15]:
#wap to print number from 10-30 but in alternative manner.

for i in range(30,10,-2):
    print(i)

30
28
26
24
22
20
18
16
14
12

In [16]:
#wap to print number from 1-10.

# Wap to print number from -10 to 10.

#wap to print number from 10 to -10.

#wap to print the table of 5.

#wap to check the number from 30-70 is divisible by 2 or not.

# #wap to check the number 30-70 is divisible by both 2 & 5 
# if not divisible by them then print -1.

In [17]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [18]:
# -10,10
for i in range(-10,11):
    print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1
0
1
2
3
4
5
6
7
8
9
10

In [21]:
for i in range(10,-11,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1
0
-1
-2
-3
-4
-5
-6
-7
-8
-9
-10

In [25]:
for i in range(5,51,5):
    print(i)

5
10
15
20
25
30
35
40
45
50

In [27]:
for i in range(30,71):
    if i % 2 == 0 :
        print(i)

30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70

In [30]:
for i in range(30,71):
    if i % 2 == 0 and i % 5 == 0:
        print(i)
    else:
        print(-1)

30
-1
-1
-1
-1
-1
-1
-1
-1
-1
40
-1
-1
-1
-1
-1
-1
-1
-1
-1
50
-1
-1
-1
-1
-1
-1
-1
-1
-1
60
-1
-1
-1
-1
-1
-1
-1
-1
-1
70